<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

<div class="container-fluid" *ngIf="challenge">
  <!-- <h2>{{challenge | json}} </h2> -->
  <img src="/assets/images/connectTheDots/ctd-bg.png" class="madSci-image" />
  <div class="row nav-row">
    <div class="col-md-3 col-sm-12 text-center">
      <img src="{{challenge.name}}" style="height: 70px;" />
    </div>
    <div class="col-md-9 col-sm-12 text-center">
      <p class="inst-para">
        <!-- {{challenge.instructions}} -->
        Mix & match one everyday object with one emerging technology to make a totally new product or service. <br>Drag & drop to select your crazy combo. Think of a clever name for your idea, describe it & hit submit.
      </p>
    </div>
  </div>

  
  <div class="row" *ngIf="showSuccessMsg">
    <div class="col-xs-12">
      <p class="alert alert-success">
        <strong>Your Challenge has been submitted successfully. Redirecting you to homepage</strong>
      </p>
    </div>
  </div>

  <div class="row" *ngIf="showErrorMsg">
    <div class="col-12">
      <p class="alert alert-danger">
        <strong>Error submitting challenge!!</strong>
      </p>
    </div>
  </div>

  <form #myform="ngForm" (ngSubmit)="onSubmit(myform)">

    <div class="row">
      <div class="col-md-2 col-sm-12 text-center">

        <div class="example-container" style="margin-bottom: 2rem;">
          <!-- <p style="padding-left:0.8rem;font-size: 1.1rem;font-family: 'Open Sans', sans-serif;">{{itemGroup1.name}}</p> -->
          <div cdkDropList #group1List="cdkDropList" [cdkDropListData]="group1" [cdkDropListConnectedTo]="[comboList1]"
            class="example-list sol-1-style" (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let item of group1" cdkDrag>
              <img src="{{item.src}}" style="max-width: 50px;" />
              <p style="font-size: 8px; margin: 0;">{{item.name}}</p></div>
          </div>
        </div>
      </div>

      <div class="col-md-8 col-sm-12">
        <div class="row" style="margin:15% auto;">
          <div class="col-md-1 col-sm-12 text-center" style="position: relative;">
            <svg xmlns="http://www.w3.org/2000/svg" width="116" height="136" style="color: white;" fill="currentColor"
              class="bi bi-arrow-right vertical-center right-arrow" viewBox="0 0 16 16">
              <path fill-rule="evenodd"
                d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
            </svg>

          </div>
          <div class="col-md-2 col-sm-12 text-center grp1-panel">
            <div class="example-container vertical-center">
              <div cdkDropList #comboList1="cdkDropList" [cdkDropListData]="solution1"
                [cdkDropListConnectedTo]="[group1List]" class="solution-list" (cdkDropListDropped)="drop($event)"
                [cdkDropListEnterPredicate]="limiterPredicate">
                <div class="example-box" *ngFor="let item of solution1" cdkDrag>
                  <img src="{{item.src}}" style="max-width: 50px;" />
                  <p style="font-size: 8px; margin: 0;">{{item.name}}</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-sm-12 text-center challenge-form">

            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">Team Name:</div>
                </div>
                <input type="text" class="form-control input-style" name="userName" maxlength="30" ngModel>
              </div>                  
            </div>

            <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">Combo Name:</div>
                  </div>
                  <input type="text" class="form-control input-style" name="ideaName" maxlength="30" ngModel>
                </div>              
            </div>



            <div class="form-group">
              <p for="idea" class="description-label-style">Combo Description:</p>
              <textarea class="form-control" rows="5" name="idea" maxlength="150" ngModel></textarea>
            </div>

            <input type="submit" class="btn btn-success btn-lg" value="SUBMIT">
          </div>

          <div class="col-md-2 col-sm-12 text-center" style="position: relative;">
            <div class="example-container vertical-center">
              <div cdkDropList #comboList2="cdkDropList" [cdkDropListData]="solution2"
                [cdkDropListConnectedTo]="[group2List]" class="solution-list" (cdkDropListDropped)="drop($event)"
                [cdkDropListEnterPredicate]="limiterPredicate">
                <div class="example-box" *ngFor="let item of solution2" cdkDrag>
                  <img src="{{item.src}}" style="max-width: 50px;" />
                  <p style="font-size: 8px; margin: 0;">{{item.name}}</p>
                </div>
              </div>
            </div>

          </div>

          <div class="col-md-1 col-sm-12 text-center" style="position: relative;">
            <svg xmlns="http://www.w3.org/2000/svg" width="116" height="136" fill="currentColor" style="color: white;"
              class="bi bi-arrow-left vertical-center left-arrow" viewBox="0 0 16 16">
              <path fill-rule="evenodd"
                d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
            </svg>

          </div>

        </div>
      </div>

      <div class="col-md-2 col-sm-12 text-center grp2-panel">

        <div class="example-container">
          <!-- <p style="padding-left:0.8rem;font-size: 1.1rem;font-family: 'Open Sans', sans-serif;">{{itemGroup2.name}}</p> -->
          <div cdkDropList #group2List="cdkDropList" [cdkDropListData]="group2" [cdkDropListConnectedTo]="[comboList2]"
            class="example-list sol-2-style" (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let item of group2" cdkDrag>
              <img src="{{item.src}}" style="max-width: 50px;" />
              <p style="font-size: 8px; margin: 0;">{{item.name}}</p>
            </div>
          </div>
        </div>
      </div>


    </div>
    <!-- row end -->



  </form>

  <!-- <button class="btn btn-primary btn-lg" (click)="goBack()">Go back</button> -->



</div>
<!-- container end -->