table{
    border-collapse: collapse; 
}

thead ,tr{
    border: 10px solid #0292B7; 
    margin-bottom: 20px;
}

thead{
    color: #0292B7;
}

h1{
    color: #0292B7; 
    font-size: 3rem; 
    font-weight: 900; 
    margin-bottom: 30px;
}

th, td{
    border: 5px solid #0292B7;
    border-radius: 25px;
    font-size: 1.2rem; 
    font-weight: 900; 
    margin-bottom: 30px;
}

td{
    font-size: 18px;
    font-weight: 900;
}