<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/dataTables.jqueryui.min.css" />
<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.15/js/dataTables.jqueryui.min.js"></script>
<script>
    $(document).ready(function () { $('#example').DataTable(); });
</script>
<body>
<div class="container-fluid">
    <div class="row text-center" style="background-color: #0292B7; color: white; margin-bottom: 1rem; padding: 0 5rem;">
        <div class="col-12 text-center">
            <img src="assets/images/connectTheDots/ctd-logo.png" style="height: 80px;" />
        </div>
    </div>
    <div class="row text-center">
        <div class="col-12 text-center">
            <h1>Results Dashboard</h1>
        </div>
        <div class="col-1"></div>
        <div class="col-10">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Team</th>
                        <th>Activity</th>
                        <th>Tech</th>
                        <th>Name of Idea Name</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="6"></td>
                    </tr>
                    <tr *ngFor="let data of submittedData; let i =index; ">
                        <td>{{i+1}}</td>
                        <td>{{data.penName}}</td>
                        <td><img src="{{data.mix}}" style="max-width: 50px;" /></td>
                        <td><img src="{{data.match}}" style="max-width: 50px;" /></td>
                        <td>{{data.ideaName}}</td>
                        <td>{{data.idea}}</td>
                        <!-- <td>{{data.code}}</td> -->
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-1"></div>
    </div>

</div>
</body>