<nav class="navbar navbar-expand-lg navbar-light bg-custom">
  <a class="navbar-brand" href="http://www.fergalbrophy.com/"><img src="/assets/images/navbar/navBrand.png" id="navBrand" /></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="http://www.fergalbrophy.com/eHOSTING">eHOSTING</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="http://www.fergalbrophy.com/iWORKSHOPS">iWORKSHOPS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="http://www.fergalbrophy.com/PROBLEMSOLVING">PROBLEM SOLVING</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="http://www.fergalbrophy.com/MENTORING">MENTORING</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="http://www.fergalbrophy.com/ADVISORY">ADVISORY</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          MEDIA
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <!-- <a class="dropdown-item" href="/PHOTOS">PHOTOS</a> -->
          <a class="dropdown-item" href="http://www.fergalbrophy.com/VIDEOS">VIDEOS</a>
          <a class="dropdown-item" href="http://www.fergalbrophy.com/eCHALLENGES">eCHALLENGES</a>
          <!-- <a class="dropdown-item" href="/RESOURCES">RESOURCES</a> -->
        </div>
      </li>
    </ul>
  </div>
</nav>