table {
    border-collapse: collapse;
}

thead ,tr{
    border: 10px solid #F6821D; 
    margin-bottom: 20px;
}

thead{
    color: #F6821D;
}

h1{
    color: #F6821D; font-size: 3rem; font-weight: 900; margin-bottom: 30px;
}

th, td{
    border: 8px solid #F6821D;
    border-radius: 25px;
    font-size: 1.2rem; 
    font-weight: 900; 
    margin-bottom: 30px;
}

.everyday-objects{
    font-size: 40px !important;
}

td{
    font-size: 18px;
    font-weight: 900;
}