<div class="container" *ngIf="challenge">

  
    <!-- <h2>{{challenge | json}} </h2> -->
    <div>{{challenge.name}}</div>
    <div>{{challenge.instructions}}</div>
      
    <form #myform="ngForm" (ngSubmit)="onSubmit(myform)">
      
      <div class="row">
      <div class="col-md-5 col-sm-12 text-center">

        <div class="example-container">
          <h2>{{itemGroup1.name}}</h2>
          <div 
          cdkDropList 
          #group1List="cdkDropList" 
          [cdkDropListData]="group1" 
          [cdkDropListConnectedTo]="[comboList1]"
          class="example-list" 
          (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let item of group1" cdkDrag>{{item}}</div>
          </div>
        </div>

        <div class="example-container">
          <h2>Mix...</h2>
          <div 
          cdkDropList 
          #comboList1="cdkDropList" 
          [cdkDropListData]="solution1"
          [cdkDropListConnectedTo]="[group1List]" 
          class="solution-list"
          (cdkDropListDropped)="drop($event)" 
          [cdkDropListEnterPredicate]="limiterPredicate">
            <div class="example-box" *ngFor="let item of solution1" cdkDrag>{{item}}</div>
          </div>
        </div>

      </div>

      <div class="col-md-2 col-sm-12 text-center">
        <p style="font-size: 10rem;">+</p>
      </div>

      <div class="col-md-5 col-sm-12 text-center">

        <div class="example-container">
          <h2>{{itemGroup2.name}}</h2>
          <div 
          cdkDropList 
          #group2List="cdkDropList" 
          [cdkDropListData]="group2" 
          [cdkDropListConnectedTo]="[comboList2]"
          class="example-list" 
          (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let item of group2" cdkDrag>{{item}}</div>
          </div>
        </div>

        <div class="example-container">
          <h2>and Match..</h2>
          <div 
          cdkDropList 
          #comboList2="cdkDropList" 
          [cdkDropListData]="solution2"
          [cdkDropListConnectedTo]="[group2List]" 
          class="solution-list"
          (cdkDropListDropped)="drop($event)" 
          [cdkDropListEnterPredicate]="limiterPredicate">
            <div class="example-box" *ngFor="let item of solution2" cdkDrag>{{item}}</div>
          </div>
        </div>

      </div>

    </div>
    <!-- row end -->

      <div class="form-group">
        <label for="idea">Your Innovative Idea:</label>
        <textarea class="form-control" rows="5" name="idea" placeholder="You Innovative Solution" ngModel></textarea>
      </div>

      <div class="form-group">
        <label for="penName">Team Name / Pen Name:</label>
        <input type="text" class="form-control" name="userName" placeholder="You Pen Name" ngModel>
      </div>

      <div class="form-group">
        <label for="penName">Code:</label>
        <input type="text" class="form-control" name="code" placeholder="Challenge Code" ngModel>
      </div>



      <input type="submit" class="btn btn-success" value="Send">

      <div class="row"  *ngIf="showSuccessMsg">
        <div class="col-xs-12">
          <p class="alert alert-success">
              <strong>Your Challenge has been submitted successfully</strong>
          </p>
        </div>
      </div>

      <div class="row"  *ngIf="showErrorMsg">
        <div class="col-12">
          <p class="alert alert-danger">
            <strong>Error submitting challenge!!</strong>
          </p>
        </div>
      </div>
    </form>

    <button class="btn btn-primary btn-lg" (click)="goBack()">Go back</button>

    

</div>
<!-- container end -->


